<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.fakturama.wizards.importWizards">
      <category
            id="com.sebulli.fakturama.importWizards.csv"
            name="CSV import">
      </category>
      <wizard
            category="com.sebulli.fakturama.importWizards.csv"
            class="org.fakturama.imp.wizard.csv.expenditures.ExpendituresCsvImportWizard"
            icon="icons/16/expenditure_voucher_16.png"
            id="com.sebulli.fakturama.importer.csv.expenditures.importWizard"
            name="%wizard.import.csv.expenditures.name">
         <description>
            %wizard.import.csv.expenditures.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.importWizards.csv"
            class="org.fakturama.imp.wizard.csv.products.ProductsCsvImportWizard"
            icon="icons/16/product_16.png"
            id="com.sebulli.fakturama.importer.csv.products.importWizard"
            name="%wizard.import.csv.products.name">
         <description>
            %wizard.import.csv.products.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.importWizards.csv"
            class="org.fakturama.imp.wizard.csv.products.ProductsGenericCsvImportWizard"
            id="com.sebulli.fakturama.importer.csv.products.generalImport"
            name="%wizard.import.csv.products.generic">
         <description>
            %wizard.import.csv.products.generic.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.importWizards.csv"
            class="org.fakturama.imp.wizard.csv.contacts.DebtorCsvImportWizard"
            icon="icons/16/contact_16.png"
            id="com.sebulli.fakturama.importer.csv.debtors.importWizard"
            name="%wizard.import.csv.debtors.name">
         <description>
            %wizard.import.csv.debtors.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.importWizards.csv"
            class="org.fakturama.imp.wizard.csv.contacts.ContactsGenericCsvImportWizard"
            id="com.sebulli.fakturama.importer.csv.debtors.generalImport"
            name="%wizard.import.csv.contacts.generic">
         <description>
            %wizard.import.csv.contacts.generic.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.importWizards.csv"
            class="org.fakturama.imp.wizard.csv.contacts.CreditorsCsvImportWizard"
            icon="icons/16/vendor.png"
            id="com.sebulli.fakturama.importer.csv.creditors.importWizard"
            name="%wizard.import.csv.creditors.name">
         <description>
            %wizard.import.csv.creditors.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.importWizards.csv"
            class="org.fakturama.imp.wizard.csv.kontist.KontistCsvImportWizard"
            icon="icons/16/kontist.png"
            id="com.sebulli.fakturama.importer.csv.kontist.importWizard"
            name="%wizard.import.csv.kontist.name">
         <description>
            %wizard.import.csv.kontist.description
         </description>
      </wizard>
   </extension>
</plugin>
