<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.opcoach.e4.preferences.e4PreferenceStoreProvider">
      <preferenceStoreProvider
            class="bundleclass://org.fakturama.connectors/org.fakturama.connectors.mail.MailServicePreferenceStoreProvider"
            pluginId="org.fakturama.connectors.mail.preferenceStoreProvider">
      </preferenceStoreProvider>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="org.fakturama.connectors.mail.MailServicePreferences"
            id="org.fakturama.connectors.page"
            name="Mail Service">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fakturama.connectors.mail.MailServiceDefaultPreferencesInitializer">
      </initializer>
   </extension>

</plugin>
