<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Fakturama"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="false">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.sebulli.fakturama.rcp/css/default.css">
         </property>
         <property
               name="appName"
               value="Fakturama">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.sebulli.fakturama.rcp/com.sebulli.fakturama.LifecycleManager">
         </property>
         <property
               name="windowImages"
               value="app/app_16.png,app/app_32.png,app/app_48.png,app/app_64.png,app/app_128.png,app/app_256.png">
         </property>
         <property
               name="aboutImage"
               value="icon://APP_ABOUT_ICON">
         </property>
         <property
               name="aboutText"
               value="%about.text">
         </property>
      </product>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferenceStoreProvider">
      <preferenceStoreProvider
            class="com.sebulli.fakturama.preferences.FakturamaPreferenceStoreProvider"
            pluginId="com.sebulli.fakturama.rcp">
      </preferenceStoreProvider>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="com.sebulli.fakturama.preferences.GeneralPreferencePage"
            id="com.sebulli.fakturama.preferences.generalPreferencePage"
            name="%page.general">
      </page>
      <page
            class="com.sebulli.fakturama.preferences.ToolbarPreferencePage"
            id="com.sebulli.fakturama.preferences.toolbarPreferencePage"
            name="%page.toolbar">
      </page>
      <page
            class="com.sebulli.fakturama.preferences.ProductPreferencePage"
            id="com.sebulli.fakturama.preferences.productPreferencePage"
            name="%page.products">
      </page>
      <page
            class="com.sebulli.fakturama.preferences.ContactPreferencePage"
            id="com.sebulli.fakturama.preferences.contactPreferencePage"
            name="%page.contacts">
      </page>
      <page
            category="com.sebulli.fakturama.preferences.contactPreferencePage"
            class="com.sebulli.fakturama.preferences.ContactFormatPreferencePage"
            id="com.sebulli.fakturama.preferences.contactFormatGreetingPreferencePage"
            name="%page.contacts.format">
      </page>
      <page
            class="com.sebulli.fakturama.preferences.NumberRangeValuesPreferencePage"
            id="com.sebulli.fakturama.preferences.numberRangeValuesPreferencePage"
            name="%page.numberrange">
      </page>
      <page
            category="com.sebulli.fakturama.preferences.numberRangeValuesPreferencePage"
            class="com.sebulli.fakturama.preferences.NumberRangeFormatPreferencePage"
            id="com.sebulli.fakturama.preferences.numberRangeFormatPreferencePage"
            name="%page.numberrange.format">
      </page>
      <page
            class="com.sebulli.fakturama.preferences.WebShopImportPreferencePage"
            id="com.sebulli.fakturama.webshopimport.webShopImportPreferencePage"
            name="%page.webshop">
      </page>
      <page
            category="com.sebulli.fakturama.webshopimport.webShopImportPreferencePage"
            class="com.sebulli.fakturama.preferences.WebShopAuthorizationPreferencePage"
            id="com.sebulli.fakturama.webshopimport.webShopAuthorizationPreferencePage"
            name="%page.webshopauthorization">
      </page>
      <page
            class="com.sebulli.fakturama.preferences.YourCompanyPreferencePage"
            id="com.sebulli.fakturama.preferences.yourCompanyPreferencePage"
            name="%page.company">
      </page>
      <page
            class="com.sebulli.fakturama.preferences.DocumentPreferencePage"
            id="com.sebulli.fakturama.preferences.documentPreferencePage"
            name="%command.documents.name">
      </page>
      <page
            category="com.sebulli.fakturama.preferences.documentPreferencePage"
            class="com.sebulli.fakturama.preferences.OptionalItemsPreferencePage"
            id="com.sebulli.fakturama.preferences.optionalItemsPreferencePage"
            name="%page.optionalitems">
      </page>
      <page
            class="com.sebulli.fakturama.preferences.OfficePreferencePage"
            id="com.sebulli.fakturama.preferences.officePreferencePage"
            name="%page.openoffice">
      </page>
      <page
            class="com.sebulli.fakturama.preferences.ExportPreferencePage"
            id="com.sebulli.fakturama.exportsales.exportPreferencePage"
            name="%page.export">
      </page>
      <page
            class="com.sebulli.fakturama.preferences.BrowserPreferencePage"
            id="com.sebulli.fakturama.preferences.browserPreferencePage"
            name="%page.browser">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sebulli.fakturama.preferences.DefaultValuesInitializer">
      </initializer>
   </extension>
   <extension
         id="MainAppModel"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="com.sebulli.fakturama.handlers.CopyPerspectiveSnippetProcessor">
      </processor>
   </extension>

</plugin>
