<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.sebulli.fakturama.rcp"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.sebulli.fakturama.rcp/css/default.css">
         </property>
         <property
               name="appName"
               value="com.sebulli.fakturama.rcp">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,5,500,300">
         </property>
         <property
               name="startupProgressRect"
               value="5,359,515,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.sebulli.fakturama.rcp/com.sebulli.fakturama.LifecycleManager">
         </property>
         <property
               name="windowImages"
               value="/Fakturama-Parent/com.sebulli.fakturama.resources/icons/app/app_16.png,/Fakturama-Parent/com.sebulli.fakturama.resources/icons/app/app_32.png,/Fakturama-Parent/com.sebulli.fakturama.resources/icons/app/app_48.png,/Fakturama-Parent/com.sebulli.fakturama.resources/icons/app/app_64.png,/Fakturama-Parent/com.sebulli.fakturama.resources/icons/app/app_128.png">
         </property>
      </product>
   </extension>

</plugin>
