<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="com.sebulli.fakturama.target" sequenceNumber="230">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.5.2.v20140319-9ad6abd"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.2.0.M1"/>
<repository location="http://download.eclipse.org/gemini/jpa/updates"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.4.0.v20140519-0339"/>
<unit id="org.eclipse.emf.edit.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.10.0.v20140514-1158"/>
<unit id="org.eclipse.emf.doc.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.10.0.v20140514-1158"/>
<unit id="org.eclipse.emf.common.ui.feature.group" version="2.9.0.v20140519-0339"/>
<unit id="org.eclipse.emf.databinding.feature.group" version="1.4.0.v20140519-0339"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="1.1.1.201409122046"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.1.1.201409122046"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.1.1.201409122046"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.1.1.201409122046"/>
<repository location="http://download.eclipse.org/nattable/releases/1.1.1/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20140909-1633"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.10.0.v20140925-0400"/>
<unit id="org.eclipse.rcp.feature.group" version="4.4.0.v20140925-0400"/>
<unit id="org.eclipse.platform.ide" version="4.4.1.M20140925-0400"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.mysql.jdbc.feature.feature.group" version="5.1.30"/>
<unit id="org.apache.commons.feature.feature.group" version="3.2.0"/>
<unit id="com.opcoach.e4.preference.feature.feature.group" version="1.0.0.201408152323"/>
<unit id="org.hsql.jdbc.feature.feature.group" version="2.3.0"/>
<unit id="org.mihalis.opal.feature.feature.group" version="1.0.0.201408152225"/>
<unit id="org.javamoney.feature.feature.group" version="1.0.0.201410202327"/>
<repository location="http://ralf-heydenreich.homepage.t-online.de/p2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.dbaccess.h2.feature.feature.group" version="1.1.0.RELEASE"/>
<unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.1.0.RELEASE"/>
<unit id="org.eclipse.gemini.dbaccess.hsqldb.feature.feature.group" version="1.1.0.RELEASE"/>
<unit id="org.eclipse.gemini.dbaccess.mysql.feature.feature.group" version="1.1.0.RELEASE"/>
<repository location="http://download.eclipse.org/gemini/updates/dbaccess/1.1.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.texo.feature.group" version="0.9.0.v201501182340"/>
<repository location="http://download.eclipse.org/modeling/emft/texo/updates/interim"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.collections.source" version="3.2.0.v2013030210310"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="ca.odell.glazedlists.source" version="1.9.0.v201303080712"/>
<unit id="org.h2" version="1.3.168.v201212121212"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="org.slf4j.ext" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.jul" version="1.7.2.v20121108-1250"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
<unit id="org.apache.poi" version="3.9.0.v201405241750"/>
<unit id="ca.odell.glazedlists" version="1.9.0.v201303080712"/>
<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.ext.di.feature.feature.group" version="1.1.2.201308292016"/>
<repository location="http://p2.mukis.de/org.eclipse.gemini.ext.di/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.14.0.v20150108-1540"/>
<unit id="org.eclipse.e4.tools.event.spy.feature.feature.group" version="0.15.0.v20141107-1620"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.14.0.v20140808-1908"/>
<repository location="http://download.vogella.com/luna/e4tools"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.formattedtext.feature.feature.group" version="1.0.0.201502141912"/>
<repository location="http://download.eclipse.org/technology/nebula/incubation/snapshot"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.pgroup.feature.feature.group" version="1.0.0.201502150837"/>
<unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="0.14.0.201502150837"/>
<unit id="org.eclipse.nebula.cwt.feature.feature.group" version="0.9.0.201502150837"/>
<repository location="http://download.eclipse.org/technology/nebula/snapshot"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
