[Desktop Entry]
Name=Fakturama2
Name[de]=Fakturama2
Comment=Invoicing Software - http://www.fakturama.info
Comment[de]=Faktura-Software - http://www.fakturama.info
Exec=/usr/share/fakturama2/Fakturama
Icon=fakturama2.xpm
Terminal=false
Version=1.0
Type=Application
Categories=Office;
StartupNotify=false
