<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="com.opcoach.e4.preferences.e4PreferenceStoreProvider">
      <preferenceStoreProvider
            class="bundleclass://org.fakturama.exporter.zugferd/org.fakturama.export.zugferd.ZFPreferenceStoreProvider"
            pluginId="org.fakturama.exporter.zugferd.preferenceStoreProvider">
      </preferenceStoreProvider>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="org.fakturama.export.zugferd.ZugferdPreferences"
            id="org.fakturama.exporter.zugferd.page"
            name="%zugferd.preferences.title">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fakturama.export.zugferd.ZFDefaultValuesInitializer">
      </initializer>
   </extension>
</plugin>
