<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="org.fakturama.exporter.zugferd.fragment"
         name="ZUGFeRD Fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="zf-fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="org.fakturama.export.zugferd.ZugferdPreferences"
            id="org.fakturama.exporter.zugferd.page1"
            name="%zugferd.preferences.title">
      </page>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferenceStoreProvider">
      <preferenceStoreProvider
            class="bundleclass://com.sebulli.fakturama.rcp/com.sebulli.fakturama.preferences.FakturamaPreferenceStoreProvider"
            pluginId="org.fakturama.exporter.zugferd.preferenceStoreProvider1">
      </preferenceStoreProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.fakturama.export.zugferd.ZFDefaultValuesInitializer">
      </initializer>
   </extension>
</plugin>
