[Desktop Entry]
Version=2.1.1 BETA
Name=Fakturama2
Name[de]=Fakturama2
Comment=Invoicing Software - https://www.fakturama.info
Comment[de]=Programm - https://www.fakturama.info
Exec=Fakturama
Icon=fakturama2.xpm
Terminal=false
Type=Application
Categories=Office;
StartupNotify=false
