/* @import url("platform:/plugin/org.eclipse.ui.themes/css/e4-basestyle.css"); */

/* .Button { border: 3px solid red } */

/* Identifies only those SWT Text elements
appearing within a Composite */
/*
Composite Text {
  background-color: white;
  color: black;
}

/* highlight focused field */
Text:focus {
  background-color: #FAF0A2;
}

Combo:focused {
  background-color: #FAF0A2;
}

SashForm {
  background-color: #c1d5ef;
}

CTabFolder {
	swt-simple: false;
}

/* background uses a gradient
.MTrimBar {
  background-color: #e3efff #c1d5ef;
  color: white;
  font: Verdana 8px;
}

Shell {
  background-color: #e3efff #c1d5ef 60%;
} */

/*.MPart Combo {
    background-color: #FFFFFF;
    color: #BBBBBB;
} */

.MPartStack {
  swt-simple: false;
}

.headerSectionContainer {
	background-color: gradient #575757 #101010 100%;
}

.sectionHeader {
	font-weight: bold;
	font-size: 15pt;
	color: white;
}

.subSectionHeader {
	background-color: gradient #575757 #101010 100%;
}


.contentContainer {
	background-color: #fff #fff #cccccc 20% 80%;
}

.formContainer {
	background-color: #fff;
}
