<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.fakturama.target" sequenceNumber="486">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.powermock.mockito-junit.feature.feature.group" version="1.5.6.0"/>
<repository location="http://mextest.inf.elte.hu/updates/mirrors/powermock-osgi/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.cwt.feature.feature.group" version="1.1.0.201901041053"/>
<unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="1.3.0.201901041053"/>
<unit id="org.eclipse.nebula.widgets.pgroup.feature.feature.group" version="1.0.0.201901041053"/>
<repository location="http://p2.fakturama.info/nebula-fakturama/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.dbaccess.feature.feature.group" version="1.1.0.RELEASE"/>
<unit id="org.eclipse.gemini.dbaccess.h2.feature.feature.group" version="1.1.0.RELEASE"/>
<unit id="org.eclipse.gemini.dbaccess.hsqldb.feature.feature.group" version="1.1.0.RELEASE"/>
<unit id="org.eclipse.gemini.dbaccess.mysql.feature.feature.group" version="1.1.0.RELEASE"/>
<repository location="http://download.eclipse.org/gemini/updates/dbaccess/1.1.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.ext.di.feature.feature.group" version="1.1.2.201308292016"/>
<repository location="http://p2.mukis.de/org.eclipse.gemini.ext.di/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_eclipse_uk.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_it.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_el.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_tr.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_ru.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_sk.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_ro.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_ar.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_hu.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_eu.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_pl.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="4.10.0.v20190126060001"/>
<repository location="https://download.eclipse.org/technology/babel/update-site/R0.16.1/2018-12"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gemini.jpa.feature.feature.group" version="1.2.0.M1"/>
<repository location="http://download.eclipse.org/gemini/jpa/updates"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.texo.feature.group" version="0.9.0.v201611141242"/>
<repository location="http://download.eclipse.org/modeling/emft/texo/updates/interim"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.5.0.201703192131"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.e4.feature.feature.group" version="1.1.0.201703192131"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="1.5.0.201703192131"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="1.1.0.201703192131"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="1.5.0.201703192131"/>
<repository location="http://download.eclipse.org/nattable/releases/1.5.0/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.picture.feature.feature.group" version="1.0.0.201806070735"/>
<unit id="org.eclipse.nebula.widgets.treemapper.feature.feature.group" version="0.1.0.201806070735"/>
<unit id="org.eclipse.nebula.widgets.formattedtext.feature.feature.group" version="1.0.0.201806070735"/>
<repository location="http://download.eclipse.org/nebula/incubation/snapshot"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.7.3.v20180807-4be1041"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.testng.eclipse.feature.group" version="6.10.0.201612030230"/>
<repository location="https://dl.bintray.com/testng-team/testng-eclipse-release/updatesites/6.10.0.201612030230/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.slf4j.osgi.feature.feature.group" version="1.0.0"/>
<unit id="com.mysql.jdbc.feature.feature.group" version="5.1.47"/>
<unit id="org.apache.commons.feature.feature.group" version="3.3.0"/>
<unit id="com.opencsv.feature.feature.group" version="4.5.0"/>
<unit id="com.opcoach.e4.preference.feature.feature.group" version="1.0.0"/>
<unit id="org.hsql.jdbc.feature.feature.group" version="2.4.1"/>
<unit id="org.javamoney.feature.feature.group" version="1.0.1"/>
<repository location="http://p2.fakturama.info/2.0.5"/>
</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2019-03"/>
		<unit id="org.eclipse.draw2d.feature.group" version="3.10.100.201606061308"/>
		<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.11.0.v20190215-0401"/>
		<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.11.0.v20190215-0401"/>
		<unit id="org.eclipse.e4.rcp.feature.group" version="1.6.400.v20190305-0602"/>
		<unit id="org.eclipse.e4.rcp.source.feature.group" version="1.6.400.v20190305-0602"/>
		<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.3.v20181012-2020"/>
		<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.100.v20180301-0201"/>
		<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.4.v20181013-2146"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.14.4.v20181013-2146"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.emf.common.feature.group" version="2.15.0.v20181220-0846"/>
		<unit id="org.eclipse.emf.feature.group" version="2.17.0.v20190301-1325"/>
		<unit id="org.eclipse.equinox.core.feature.feature.group" version="1.8.0.v20190218-2100"/>
		<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.300.v20190213-1655"/>
		<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.6.100.v20190218-2100"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.17.0.v20190305-2225"/>
		<unit id="org.eclipse.platform.feature.group" version="4.11.0.v20190307-0500"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190602212107/repository"/>
		<unit id="ca.odell.glazedlists" version="1.9.0.v201303080712"/>
		<unit id="ca.odell.glazedlists.source" version="1.9.0.v201303080712"/>
		<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
		<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
		<unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
		<unit id="org.apache.commons.cli" version="1.2.0.v201404270220"/>
		<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
		<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
		<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
		<unit id="org.apache.poi" version="3.9.0.v201405241750"/>
		<unit id="org.apache.poi.ooxml" version="3.9.0.v201405241905"/>
		<unit id="org.apache.poi.ooxml.schemas" version="3.9.0.v201405241750"/>
		<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
		<unit id="org.apache.xmlbeans" version="2.3.0.v201605172150"/>
		<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
		<unit id="org.junit" version="4.12.0.v201504281640"/>
		<unit id="org.mockito" version="2.23.0.v20190527-1420"/>
		<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
		<unit id="org.slf4j.ext" version="1.7.2.v20121108-1250"/>
		<unit id="org.slf4j.jul" version="1.7.2.v20121108-1250"/>
		<unit id="org.slf4j.log4j" version="1.7.2.v20130115-1340"/>
		<unit id="org.yaml.snakeyaml" version="1.14.0.v201604211500"/>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>