<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.fakturama.wizards.exportWizards">
       <wizard
            category="com.sebulli.fakturama.export.productandbuyers"
            class="org.fakturama.export.wizard.productbuyers.ProductBuyersExportWizard"
            icon="icons/16/product_buyers.png"
            id="com.sebulli.fakturama.export.productbuyers.exportWizard"
            name="%wizard.export.productandbuyers.name">
         <description>
            %wizard.export.productandbuyers.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.productandbuyers"
            class="org.fakturama.export.wizard.buyers.BuyerVolumesExportWizard"
            icon="icons/16/buyers.png"
            id="com.sebulli.fakturama.export.buyers.exportWizard"
            name="%wizard.export.buyers.name">
         <description>
            %wizard.export.buyers.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.salesandvouchers"
            class="org.fakturama.export.wizard.sales.SalesExportWizard"
            icon="icons/16/sales.png"
            id="com.sebulli.fakturama.export.sales.exportWizard"
            name="%wizard.export.sales.name">
         <description>
            %wizard.export.sales.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.salesandvouchers"
            class="org.fakturama.export.wizard.accounts.AccountsExportWizard"
            icon="icons/16/accounts.png"
            id="com.sebulli.fakturama.export.accounts.exportWizard"
            name="%wizard.export.accounts.name">
         <description>
            %wizard.export.accounts.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.salesandvouchers"
            class="org.fakturama.export.wizard.sales.ExportWizardUnpaid"
            icon="icons/16/error.png"
            id="com.sebulli.fakturama.export.sales.exportWizardUnpaid"
            name="%wizard.export.sales.unpaid.name">
         <description>
            %wizard.export.sales.unpaid.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.salesandvouchers"
            class="org.fakturama.export.wizard.vouchers.ExpenditureExportWizard"
            icon="icons/16/expenditure_voucher.png"
            id="com.sebulli.fakturama.export.vouchers.exportExpenditureWizard"
            name="%wizard.export.expenditurevouchers.name">
         <description>
            %wizard.export.expenditurevouchers.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.salesandvouchers"
            class="org.fakturama.export.wizard.vouchers.ReceiptExportWizard"
            icon="icons/16/receipt_voucher.png"
            id="com.sebulli.fakturama.export.vouchers.exportReceiptWizard"
            name="%wizard.export.receiptvouchers.name">
         <description>
            %wizard.export.receiptvouchers.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.salesandvouchers"
            class="org.fakturama.export.wizard.vouchers.ReceiptsAndExpendituresWizard"
            icon="icons/16/receipt_expenditure_voucher.png"
            id="com.sebulli.fakturama.export.vouchers.exportReceiptsAndExpenditures"
            name="%wizard.export.salesandvouchers.category">
         <description>
            %wizard.export.salesandvouchers.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.lists"
            class="org.fakturama.export.wizard.products.ProductExportWizard"
            icon="icons/16/product.png"
            id="com.sebulli.fakturama.export.products.exportWizard"
            name="%wizard.export.products.name">
         <description>
            %wizard.export.products.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.lists"
            class="org.fakturama.export.wizard.contacts.AddressListExportWizard"
            icon="icons/16/contact.png"
            id="com.sebulli.fakturama.export.contacts.exportWizard"
            name="%wizard.export.contacts.name">
         <description>
            %wizard.export.contacts.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.lists/com.sebulli.fakturama.export.csv.lists"
            class="org.fakturama.export.wizard.csv.products.ProductExportWizard"
            icon="icons/16/product.png"
            id="com.sebulli.fakturama.export.csv.products.exportWizard"
            name="%wizard.export.csv.products.name">
         <description>
            %wizard.export.csv.products.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.lists/com.sebulli.fakturama.export.csv.lists"
            class="org.fakturama.export.wizard.csv.contacts.AddressExportWizard"
            icon="icons/16/contact.png"
            id="com.sebulli.fakturama.export.csv.contacts.exportWizard"
            name="%wizard.export.csv.contacts.name">
         <description>
            %wizard.export.csv.contacts.description
         </description>
      </wizard>
      <wizard
            category="com.sebulli.fakturama.export.lists"
            class="org.fakturama.export.wizard.vcf.contacts.VcardExportWizard"
            icon="icons/16/vcard.png"
            id="com.sebulli.fakturama.export.vcf.contacts.exportWizard"
            name="%wizard.export.vcf.contacts.name">
         <description>
            %wizard.export.vcf.contacts.description
         </description>
      </wizard>
      <category
            id="com.sebulli.fakturama.export.productandbuyers"
            name="%wizard.export.productandbuyers.category">
      </category>
      <category
            id="com.sebulli.fakturama.export.salesandvouchers"
            name="%wizard.export.salesandvouchers.category">
      </category>
      <category
            id="com.sebulli.fakturama.export.lists"
            name="%wizard.export.lists.category">
      </category>
      <category
            id="com.sebulli.fakturama.export.csv.lists"
            name="%wizard.export.csv.lists.category"
            parentCategory="com.sebulli.fakturama.export.lists">
      </category>
      <wizard
            category="com.sebulli.fakturama.export.lists"
            class="org.fakturama.export.wizard.texts.TextExportWizard"
            icon="icons/16/text.png"
            id="org.fakturama.export.texts"
            name="%wizard.export.text.name">
      </wizard>
   </extension>
</plugin>
