Package: fakturama
Version: 2.1.1_BETA
Section: misc
Priority: extra
Architecture: amd64
Depends: bash
Installed-Size: 40000
Maintainer: Ralf Heydenreich <ralf.heydenreich@fakturama.info>
Homepage: https://www.fakturama.info
Description: Free and Open Source Invoicing Software

